
qupath/qupath-extension-dl4j/target/classes/saved-models/vgg-16-colon.bin
qupath/qupath-extension-dl4j/target/qupath-extension-dl4j-0.1.2-bin.jar
qupath/qupath-extension-dl4j/target/qupath-extension-dl4j-0.1.2.jar
qupath/qupath-extension-dl4j/src/main/resources/saved-models/vgg-16-colon.bin
